div{text-align: center;
}
h1{color: #005677; 
    background-color: #C4C4C4;
    text-align: center;
}
h2{color: #005677;
    background-color: #C4C4C4;
}
footer{text-align: center;
    background-color: #005677;
    color: #FFFFFF;
}